# Windows
desktop.ini
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Generated outputs
outputs/
results/
plots/
figures/

# VSCode
.vscode/

# PyCharm
.idea/

# Environment
.venv/
venv/

# Logs
*.log